<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crop Recommendation</title>
   

    
	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		
		  <link rel="shortcut icon" href="https://raw.githubusercontent.com/openfarmcc/open-crop-icons/mainline/icons/okra/okra-24px.png">
	
</head>
<!-- Navbar-->
			<nav class="navbar navbar-dark bg-success">
		<span class="navbar-brand mb-0 h1"><b>Crop Recommendation</b></span>

<ul class="nav navbar-nav ml-auto">
	<li>
  <a class="navbar-brand" href="https://www.google.com/" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/github.svg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="https://paragnaik2019.medium.com/" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/medium.svg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="https://www.linkedin.com/in/parag-naik-b9738010b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B6%2BacxW2wTminwXotcCsjZA%3D%3D" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/linkedin.svg" width="30" height="30" alt="">
  </a>
</li>
</ul>

</nav>



{% block body %} {% endblock %}


<nav class="navbar fixed-bottom navbar-dark bg-success">
  <a class="navbar-brand" href="#">PN Analytics</a>
  <ul class="nav navbar-nav ml-auto">
	<li>
  <a class="navbar-brand" href="https://www.google.com/" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/github.svg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="https://www.google.com/" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/medium.svg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="https://www.google.com/" target="_blank">
    <img src="https://raw.githubusercontent.com/Automattic/social-logos/master/svg-min/linkedin.svg" width="30" height="30" alt="">
  </a>
</li>
</ul>
</nav>

</html>